.camera-fab {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --background: #3880ff;
  --box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
}

.camera-fab ion-icon {
  font-size: 26px;
  color: white;
}
